.page-id-34 {

  #post-34 {
    max-width: 64rem;
    margin: 2rem auto;

    img {
      display: block;
      object-fit: cover;
      max-height: 30rem;
    }
  }

  .about {
    margin-bottom: 5rem;

    &.policies {
      max-width: 50rem;
      margin: 0 auto 7rem;
    }
  }
  
  h2 {
    text-align: center;
  }

  @media (min-width: 50em) {
    .entry-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 5rem;

      .about.culture,
      .about.history {
        grid-column: span 1;
      }

      .about.policies {
        grid-column: span 2;
      }
    }
  }

}

.accordion {

  button {
    width: 100%;
    background-color: $color__background-body;
    border-radius: 0;
    border: 1px solid $color__text-main;
    border-bottom: none;
    border-left: none;
    border-right: none;

    &:last-child {
      border-bottom: 1px solid $color__text-main;
    }
  }
  
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &-content {
    display: none;
    padding: 1rem;
    text-align: left;

    ul {
      margin: 0;
      padding-bottom: 2rem;

      li {
        padding: 1rem 0;
      }
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
    fill: $color__text-main;
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(180deg);
  }
  
}  

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button {
  @include link-button;
}


