.home .site-main {
    padding: 0rem;
    section {
        padding: 0rem 1.5rem;
    }
}

.home-hero {
    position: relative;
    height: 500px;
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: center top;
    &::before {
        content:"";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
        opacity: 40%;
    }
}

.hero-text {
    position: absolute;
    z-index: 10;
    top: 35%;
    left:0;
    right: 0;
    color: #fff;
    text-align: center;
    h1 {
        color: #fff;
        font-weight: normal;
        font-size: 2.4rem;
        margin-top: 1rem;
    }
    p {
        letter-spacing: 2.5px;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}