.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Blogs Page
.blog-posts {
	width: 80vw;
	margin: 5rem auto;

	a:not(.read-more) {
		text-decoration: none;
	}

	article {
		margin-bottom: 5rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid $color__border;
	}

	@media (min-width: 50rem) {
		width: 100%;

		article {
			display: grid;
			grid-template-columns: repeat(2, (minmax(18rem, 28rem)));
			align-items: start;
			gap: 2rem;
		}
	}
}

// Blog post
.single-blog-post {
	width: 80vw;
	max-width: 50rem;
	margin: 5rem auto;
	padding: 0;

	.post-thumbnail {
		max-width: 30rem;
		margin: 0 auto;
	}

	.text-contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	h1 {
		font-size: 1.7rem;
		margin: 1rem 0 2rem;
	}

	ol {
		margin: 0;

		li {
			padding: 2rem 0;
		}
	}

	blockquote {
		padding: 3rem 0;

		p {
			font-family: $font__header;
			font-size: 1.5rem;
			text-align: center;
		}
	}
}

.nav-links {
	margin-bottom: 3rem;
	
	a {
		text-decoration: none;
	}

	span {
		text-decoration: underline;
	}
}

.nav-previous {
	a::before {
		content:"\21D0";
		padding-right: .5rem;
	}
}

.nav-next {
	a::after {
		content:"\21D2 ";
		padding-left: .5rem;
	}
}
