$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #313131;
$color__background-button-hover: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-gray: #f2f2f2;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #313131;
$color__link: #1a1a1a; 
$color__link-visited: #313131;
$color__link-hover: #313131;
$color__text-main: #313131;
$color__text-header: #1a1a1a;
$color__border: #c1c1c1;

$color__border-button: #313131;
$color__border-button-hover: #313131;
$color__border-button-focus: #313131;
$color__border-input: #ccc;
$color__border-abbr: #666;
